name: Build
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goarch: [ amd64 ]
      fail-fast: true
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 'stable'
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install libvips-dev libjemalloc-dev
          go mod tidy
      - name: Build ${{ matrix.goarch }}
        env:
          CGO_ENABLED: 1
          CGO_CFLAGS: "-fno-builtin-malloc -fno-builtin-calloc -fno-builtin-realloc -fno-builtin-free"
          CGO_LDFLAGS: "-ljemalloc"
          GOOS: linux
          GOARCH: ${{ matrix.goarch }}
        run: |
          LDFLAGS="-s -w"
          go build -ldflags "${LDFLAGS}" -o app-${{ matrix.goarch }} ./cmd/app
          go build -ldflags "${LDFLAGS}" -o cli-${{ matrix.goarch }} ./cmd/cli
      - name: Compress ${{ matrix.goarch }}
        run: |
          upx --best --lzma app-${{ matrix.goarch }}
          upx --best --lzma cli-${{ matrix.goarch }}
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.goarch }}
          path: |
            app-${{ matrix.goarch }}
            cli-${{ matrix.goarch }}
